*{
    font-family: 'EB Garamond', serif;
    padding: 0;
    margin: 0;
    background-color: beige;
}

h1{
    margin: 40px;
}

#userinput{
    width: 350px;
    height: 35px;
    display: inline-block;
}

.btn{
    margin: 20px 5px;
     
}

.form-control{
    margin: 0 auto;
}

ul{
    list-style-type: none;
}