*{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
  /* The image used */
  background-image: url("img/parallax1.jpg");

  /* Set a specific height */
  height: 500px;     
}
.parallax2 {
  /* The image used */
  background-image: url("img/parallax2.jpg");

  /* Set a specific height */
  height: 500px;
}
.parallax3 {
  /* The image used */
  background-image: url("img/parallax3.jpg");

  /* Set a specific height */
  height: 500px;        
}