body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 35px;
    margin: 70px;
}

p{
    border: 1px solid black;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    font-size: 2rem;
}